body{
    background-color: rgb(228, 225, 193);
    font-family : times new roman;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 0 auto;

}
h1{ 
    color: rgb(0, 0, 0);
    text-align: center;
}
p{ 
    text-align: justify;
}