body {
    background-color:#f0f0f0;
    line-height: 1.6;
}

header,footer {
    background-color:#333;
    color:#fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}  
main{
    width: 400px;
    margin: 0 auto;
}

h1{
    margin: 10%;
    text-align: center;
}

h2{
    border-bottom: 1px solid #222;
}

img {
width: 100%;
height: auto;
box-shadow: 0px 20PX 30px #333;
}

section{
    margin: 20px 0;
    border: 1px solid rgb(0  0  0/10%);
    padding: 10px;
    background-color: rgb(171, 175, 185);
    font-size: .9rem;
}

section p{
    margin: 10px;

}
footer{
font-size: .9rem;
}